<!DOCTYPE html>
<html lang="en">
<head>
    <title>VAuthenticator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
</head>
<body>

<div id="app"></div>

<iframe title="rp session management iframe" style="visibility: hidden;" id="rp_session_management_iframe" th:src="${rpSessionManagementIFrame}"></iframe>
<iframe title="op session management iframe" style="visibility: hidden;" id="op_session_management_iframe" th:src="${opSessionManagementIFrame}"></iframe>

</body>
</html>